@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

* {
    box-sizing: border-box;
    margin: 1rem;
    padding: 1 rem;
}

*:focus {
    outline: none;
}

html {
    font-size: 18px;
}
